<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jordon.sdkbuild"
    >

    <application>
        <service android:name=".SdkBuildService"
                android:exported="false"
                android:foregroundServiceType="mediaProjection" />
    </application>

</manifest>